/*-------------------------
#.featured-items-area
--------------------------*/
.featured-items-area {
    padding: 7rem 0;
    background: #2B2A28;
    .featured-title {
        margin-bottom: 2.5rem;
        font-family: 'Antipol Wide';
        font-weight: bold;
        color: #DDD7D3;
        text-transform: uppercase;
    }
}