/*-------------------------
#.recently-viewed
--------------------------*/
.recently-viewed {
    .single-product .product-info .product-title {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
}
@media (max-width: 1399px) {
    .recently-viewed .single-product .product-info .product-title {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
}
@media (max-width: 1199px) {
    .recently-viewed .single-product .product-info .product-title {
        min-height: 3.5rem;
    }
}
@media (max-width: 575px) {
    .recently-viewed .single-product {
        margin: .5rem;
    }
    .recently-viewed .single-product .product-info .product-title {
        min-height: auto;
    }
}
@media (max-width: 414px) {
    .recently-viewed .single-product .product-info .product-title {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}
@media (max-width: 360px) {
    .recently-viewed .single-product  {
        padding: 1.5rem 1rem;
    }
    .recently-viewed .g-0, .gx-0 {
        --bs-gutter-x: 0;
        margin: 0 -2px;
    }
}
